#container1 {
  max-width: 960px;
}

#container2 {
  max-width: 860px;
}

#container1:hover { border: 10px solid black; }
#container2:hover { border: 15px solid black; }
ul:hover { border: 5px solid black; margin:; -5px; }

.split-para      { margin:3px;}
.split-para span { float:right;margin-left:3px;}

/*overriding bootstrap styles*/
.list-group-item.bg-red {
  background-color: red
}

.list-group-item.bg-blue {
  background-color: blue
}

.list-group-item.bg-green {
  background-color: green
}

.list-group-item.bg-highlight {
  background-color: yellow
}



